
body,html {
    width: 100%;
    margin: 0;
    padding: 0;
}

        header {
            padding: 10px;
            color: black;
            background-color: lightgray
        }

        #left {
            width: 20%;
            min-height: 400px;
            border: 1px solid white;
            float: left;
            background-color: white;
            margin-bottom: 5px;
            color: black;
        }

        #content {
            width: 60%;
            min-height: 400px;
            border: 1px solid white;
            float: left;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
        }

        #left ul {
            list-style-type: none;
            padding: 0%;
        }

        #left li {
            border-bottom: 1px solid lightgray;
            
        }

        #right {
            width: 18%;
            min-height: 345px;
            border: 1px solid rgb(164, 219, 241);
            float: left;
            margin-bottom: 5px;
            background-color: rgb(167, 218, 238);
        }

        #footer {
            height: 50px;
            clear: both;
            border: 1px solid #CDCDCD;
            background-color: lightgray;
        }

        #footer p {
            text-align: center;
        }

        #content img {
            width: 100%;
        }
        #left a {
            color: black;
            text-decoration: NONE;
        }
        @media only screen and (min-width:500px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 75%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 50%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    #footer {
        width: 100%;
    }
    /* .phan3{
        width: 100%;
    } */
}
@media only screen and ( min-width:800px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 23%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
@media only screen and (max-width: 500px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 100%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 100%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    #left {
        width: 100%;
    }
   
}
